<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Accueil BO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href='<%= championnats_path  %>'>Gestion des championnats</a></li>
      <li><a href='<%= matches_path %>'>Gestion des matchs</a></li>
    </ul>
  </div>
</nav>