<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Qui va gagner ? - Site de pronostics en grosse grosse bêta</span> 
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href='<%= admin_path  %>'>Gestion Back Office</a></li>
    </ul>
  </div>
</nav>